# Data Structure And Object
What is data structure?
Ans:Storintg  the data in our computer

In [3]:
# integer number
a=10
b=20

In [4]:
a+b

30

In [5]:
type(a)

int

In [7]:
# folat number
a=10.5
b=2.4

In [8]:
c=a+b
print(c)

12.9

In [9]:
type(c)

float

In [10]:
# String
name="kiran kamble"
name1="Swapnil Phase"
name

'kiran kamble'

In [11]:
name + name1

'kiran kambleSwapnil Phase'

## List is Container which can hold diffrent data

In [12]:
lst=["kiran",2,3,4,10.5,[1,2,3]]
lst

['kiran', 2, 3, 4, 10.5, [1, 2, 3]]

In [13]:
type(lst)

list

In [14]:
lst[1]

2

In [15]:
lst[5][0]

1

In [16]:
# List is Complex data type which is 
# Derived from List Object

lst.append("Sai")

In [17]:
lst

['kiran', 2, 3, 4, 10.5, [1, 2, 3], 'Sai']

In [18]:
lst[-2]

[1, 2, 3]

# Dictionary
Dictionary is key value pair data structure

In [21]:
d={"name":"Kiran","Age":22,"College":"BSIOT"}
d

{'name': 'Kiran', 'Age': 22, 'College': 'BSIOT'}

In [22]:
d.keys()

dict_keys(['name', 'Age', 'College'])

# Sets
Sets are used for unique value in python data
,sets is unoredered collectiton data type

In [23]:
sets={"kiran",1,2,3,4,5,1,2,3,521,22}
sets

{1, 2, 22, 3, 4, 5, 521, 'kiran'}

# tuples
tuples is a immutable data type

In [26]:
t=(1,3,4,6,"Kiran")
t

(1, 3, 4, 6, 'Kiran')